.winner {
  background-color: lightgreen;
  color: darkgreen;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 72px;
  text-align: center;
  margin: auto;
}

.loser {
  background-color: lightgray
}

.buzz {
  width: 100%;
  padding: 15px;
  flex-grow: 1;
}

.buzz-results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
}
