.winner {
  background-color: lightgreen;
  color: darkgreen;
  font-size: 80px;
}

.loser {
  background-color: lightgray;
  color: darkgray; 
  font-size: 40px;
}

.buzz {
  width: 100%;
  flex-grow: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;

}

.buzzes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.buzz-results {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}

.buzzer {
  width: 100%;

  label {
    padding-right: 10px;
  }

  .buzzer-button {
    width: 100%;
    font-size: 200px;
  }

  .buzzer-input {
    width: 100%;
  }
}

#app {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
}
